node_modules/
dist/
.DS_Store
.idea/
.vscode/
.playwright-cli/
output/
skills.md
*.log
.deploy/
*.tsbuildinfo
*.tgz
*.tar.gz
.env
.env.local
.env.*.local
vite.config.js
vite.config.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
